---
import FormattedDate from '@/components/widgets/FormattedDate.astro'
import type { PostListProps } from '@/types'
import { themeConfig } from '@/config'
import '@/styles/list-layout.css'

const { posts } = Astro.props as PostListProps
---

<div class="list-container">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/${post.id}/`}>
            <div class={`item ${!themeConfig.date.dateOnRight ? 'date-left' : ''}`}>
              {!themeConfig.date.dateOnRight && (
                <p class="date font-features">
                  <FormattedDate date={post.data.pubDate} context="list" />
                </p>
              )}
              <p class="title">{post.data.title}</p>
              {themeConfig.date.dateOnRight && (
                <div
                  class={themeConfig.general.postListDottedDivider ? 'dotted-divider' : 'divider'}
                />
              )}
              {themeConfig.date.dateOnRight && (
                <p class="date font-features">
                  <FormattedDate date={post.data.pubDate} context="list" />
                </p>
              )}
            </div>
          </a>
        </li>
      ))
    }
  </ul>
  <div class="placeholder"></div>
</div>
