---
import FormattedDate from '@/components/widgets/FormattedDate.astro'
import { themeConfig } from '@/config'
import '@/styles/list-layout.css'

interface ProjectListProps {
  projects: Array<{
    id: string
    data: {
      title: string
      description: string
      date: Date
      link?: string
    }
  }>
}

const { projects } = Astro.props as ProjectListProps
---

<div class="list-container">
  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={`/projects/${project.id}/`}>
            <div class={`item ${!themeConfig.date.dateOnRight ? 'date-left' : ''}`}>
              {!themeConfig.date.dateOnRight && (
                <p class="date font-features">
                  <FormattedDate date={project.data.date} context="list" />
                </p>
              )}
              <p class="title">{project.data.title}</p>
              {themeConfig.date.dateOnRight && (
                <div
                  class={themeConfig.general.postListDottedDivider ? 'dotted-divider' : 'divider'}
                />
              )}
              {themeConfig.date.dateOnRight && (
                <p class="date font-features">
                  <FormattedDate date={project.data.date} context="list" />
                </p>
              )}
            </div>
          </a>
        </li>
      ))
    }
  </ul>
  <div class="placeholder"></div>
</div>
